*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
src/.libs/
src/*.o
src/*.la
src/*.lo
src/packedobjectsdtest
examples/*.o
examples/simple_client
examples/simple_server
examples/multiple_client
examples/multiple_server
doc/tutorial.aux
doc/tutorial.cp
doc/tutorial.cps
doc/tutorial.fn
doc/tutorial.ky
doc/tutorial.log
doc/tutorial.pg
doc/tutorial.toc
doc/tutorial.tp
doc/tutorial.vr
