*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
src/.libs/
src/*.o
src/*.la
src/*.lo
src/packedobjectsdtest


examples/video-search/video-search.tar.gz
examples/video-search/Makefile
examples/video-search/Makefile.in
examples/video-search/aclocal.m4
examples/video-search/autom4te.cache/
examples/video-search/config.guess
examples/video-search/config.log
examples/video-search/config.status
examples/video-search/config.sub
examples/video-search/configure
examples/video-search/depcomp
examples/video-search/install-sh
examples/video-search/libtool
examples/video-search/ltmain.sh
examples/video-search/missing
examples/video-search/src/.deps/
examples/video-search/src/Makefile
examples/video-search/src/Makefile.in
examples/video-search/src/config.h
examples/video-search/src/config.h.in
examples/video-search/src/stamp-h1
examples/video-search/src/.libs/
examples/video-search/src/video_responder
examples/video-search/src/video_searcher
examples/video-search/src/*.o

doc/tutorial.aux
doc/tutorial.cp
doc/tutorial.cps
doc/tutorial.fn
doc/tutorial.ky
doc/tutorial.log
doc/tutorial.pg
doc/tutorial.toc
doc/tutorial.tp
doc/tutorial.vr
