*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/stamp-h1
src/.libs/
src/*.o
src/*.la
src/*.lo
src/packedobjectsdtest

examples/helloworld-0.1/helloworld-0.1.tar.gz
examples/helloworld-0.1/Makefile
examples/helloworld-0.1/Makefile.in
examples/helloworld-0.1/aclocal.m4
examples/helloworld-0.1/autom4te.cache/
examples/helloworld-0.1/config.guess
examples/helloworld-0.1/config.log
examples/helloworld-0.1/config.status
examples/helloworld-0.1/config.sub
examples/helloworld-0.1/configure
examples/helloworld-0.1/depcomp
examples/helloworld-0.1/install-sh
examples/helloworld-0.1/libtool
examples/helloworld-0.1/ltmain.sh
examples/helloworld-0.1/missing
examples/helloworld-0.1/src/.deps/
examples/helloworld-0.1/src/Makefile
examples/helloworld-0.1/src/Makefile.in
examples/helloworld-0.1/src/config.h
examples/helloworld-0.1/src/config.h.in
examples/helloworld-0.1/src/stamp-h1
examples/helloworld-0.1/src/.libs/
examples/helloworld-0.1/src/helloworld
examples/helloworld-0.1/src/*.o

examples/helloworld-0.2/helloworld-0.2.tar.gz
examples/helloworld-0.2/Makefile
examples/helloworld-0.2/Makefile.in
examples/helloworld-0.2/aclocal.m4
examples/helloworld-0.2/autom4te.cache/
examples/helloworld-0.2/config.guess
examples/helloworld-0.2/config.log
examples/helloworld-0.2/config.status
examples/helloworld-0.2/config.sub
examples/helloworld-0.2/configure
examples/helloworld-0.2/depcomp
examples/helloworld-0.2/install-sh
examples/helloworld-0.2/libtool
examples/helloworld-0.2/ltmain.sh
examples/helloworld-0.2/missing
examples/helloworld-0.2/src/.deps/
examples/helloworld-0.2/src/Makefile
examples/helloworld-0.2/src/Makefile.in
examples/helloworld-0.2/src/config.h
examples/helloworld-0.2/src/config.h.in
examples/helloworld-0.2/src/stamp-h1
examples/helloworld-0.2/src/.libs/
examples/helloworld-0.2/src/helloworld
examples/helloworld-0.2/src/*.o

examples/video-0.1/video-0.1.tar.gz
examples/video-0.1/Makefile
examples/video-0.1/Makefile.in
examples/video-0.1/aclocal.m4
examples/video-0.1/autom4te.cache/
examples/video-0.1/config.guess
examples/video-0.1/config.log
examples/video-0.1/config.status
examples/video-0.1/config.sub
examples/video-0.1/configure
examples/video-0.1/depcomp
examples/video-0.1/install-sh
examples/video-0.1/libtool
examples/video-0.1/ltmain.sh
examples/video-0.1/missing
examples/video-0.1/src/.deps/
examples/video-0.1/src/Makefile
examples/video-0.1/src/Makefile.in
examples/video-0.1/src/config.h
examples/video-0.1/src/config.h.in
examples/video-0.1/src/stamp-h1
examples/video-0.1/src/.libs/
examples/video-0.1/src/video_client
examples/video-0.1/src/video_receiver
examples/video-0.1/src/video_searcher
examples/video-0.1/src/video_server
examples/video-0.1/src/*.o

examples/video-0.2/video-0.2.tar.gz
examples/video-0.2/Makefile
examples/video-0.2/Makefile.in
examples/video-0.2/aclocal.m4
examples/video-0.2/autom4te.cache/
examples/video-0.2/config.guess
examples/video-0.2/config.log
examples/video-0.2/config.status
examples/video-0.2/config.sub
examples/video-0.2/configure
examples/video-0.2/depcomp
examples/video-0.2/install-sh
examples/video-0.2/libtool
examples/video-0.2/ltmain.sh
examples/video-0.2/missing
examples/video-0.2/src/.deps/
examples/video-0.2/src/Makefile
examples/video-0.2/src/Makefile.in
examples/video-0.2/src/config.h
examples/video-0.2/src/config.h.in
examples/video-0.2/src/stamp-h1
examples/video-0.2/src/.libs/
examples/video-0.2/src/video_client
examples/video-0.2/src/video_searcher
examples/video-0.2/src/*.o

examples/video-0.3/video-0.3.tar.gz
examples/video-0.3/Makefile
examples/video-0.3/Makefile.in
examples/video-0.3/aclocal.m4
examples/video-0.3/autom4te.cache/
examples/video-0.3/config.guess
examples/video-0.3/config.log
examples/video-0.3/config.status
examples/video-0.3/config.sub
examples/video-0.3/configure
examples/video-0.3/depcomp
examples/video-0.3/install-sh
examples/video-0.3/libtool
examples/video-0.3/ltmain.sh
examples/video-0.3/missing
examples/video-0.3/src/.deps/
examples/video-0.3/src/Makefile
examples/video-0.3/src/Makefile.in
examples/video-0.3/src/config.h
examples/video-0.3/src/config.h.in
examples/video-0.3/src/stamp-h1
examples/video-0.3/src/.libs/
examples/video-0.3/src/video_client
examples/video-0.3/src/video_searcher
examples/video-0.3/src/*.o

doc/tutorial.aux
doc/tutorial.cp
doc/tutorial.cps
doc/tutorial.fn
doc/tutorial.ky
doc/tutorial.log
doc/tutorial.pg
doc/tutorial.toc
doc/tutorial.tp
doc/tutorial.vr
